<div class="header" id="mainHeader">
  <nav class="navbar navbar-dark mb-5">
    <a class="navbar-brand" [routerLink]="[ '/info' ]" routerLinkActive="active">CRM</a>
    <div class="navbar-expand mr-auto">
      <div class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" id="tasks" [routerLink]="[ '/tasks' ]">Ukoly</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="[ '/customers' ]">Uzivatele</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="[ '/cars' ]">Auta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="[ '/repairs' ]">Opravy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="[ '/parts' ]">Dily</a>
        </li>
      </div>
    </div>
    <div class="navbar-expand ml-auto navbar-nav">
      <div class="navbar-nav">
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div id="custom-search-input">
              <div class="input-group col-md-12">
                <input class="form-control mr-sm-2" type="search" placeholder="Podle titulu karty" aria-label="Search"
                  id="search">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>