<div class="header" id="mainHeader">
  <nav class="navbar navbar-dark bg-dark mb-5">
    <a class="navbar-brand" [routerLink]="[ '/info' ]" routerLinkActive="active">CRM</a>
    <div class="navbar-expand mr-auto">
      <div class="navbar-nav">
        <a class="nav-item nav-link" [routerLink]="[ '/tasks' ]">Ukoly</a>
        <a class="nav-item nav-link" [routerLink]="[ '/customers' ]">Uzivatele</a>
        <a class="nav-item nav-link" [routerLink]="[ '/cars' ]">Auta</a>
        <a class="nav-item nav-link" [routerLink]="[ '/repairs' ]">Opravy</a>
        <a class="nav-item nav-link" [routerLink]="[ '/parts' ]">Dily</a>
      </div>
    </div>
    <div class="navbar-expand ml-auto navbar-nav">
      <div class="navbar-nav">
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div id="custom-search-input">
              <div class="input-group col-md-12">
                <input class="form-control mr-sm-2" type="search" placeholder="Podle titulu karty" aria-label="Search" id="search">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </nav>
</div>