<div style="height:100px"></div>

<div style="height: 3px" detect-scroll (onScroll)="changeProgress($event, progress)" [bottomOffset]="200" id="navProgress"
  [topOffset]="200">
  <div class="mb-2">
    <!-- <progressbar class="progress-striped active" [animate]="false" [value]="progress" [max]="100" type="success"> {{progress}} / {{max}}</progressbar> -->
    <progressbar class="progress-striped active" style="height: 8px" [animate]="true" [value]="progress" [max]="100"
      type="success"></progressbar>
  </div>
</div>

<app-layout>

  <div class="jumbotron">
    <h1>Angular CLI v6 + Bootstrap</h1>
    <p>
      test
    </p>
  </div>

  <div class="jumbotron">
    <h1>Angular CLI v6 + Bootstrap</h1>
    <p>
      test
    </p>
  </div>

  <div class="jumbotron">
    <h1>Angular CLI v6 + Bootstrap</h1>
    <p>
      test
    </p>
  </div>

  <div class="jumbotron">
    <h1>Angular CLI v6 + Bootstrap</h1>
    <p>
      test
    </p>
  </div>

  <div class="jumbotron">
    <h1>Angular CLI v6 + Bootstrap</h1>
    <p>
      test
    </p>
  </div>

  <div class="jumbotron">
    <h1>Angular CLI v6 + Bootstrap</h1>
    <p>
      test
    </p>
  </div>

  <div class="jumbotron">
    <h1>Angular CLI v6 + Bootstrap</h1>
    <p>
      test
    </p>
  </div>

  <div class="jumbotron">
    <h1>Angular CLI v6 + Bootstrap</h1>
    <p>
      test
    </p>
  </div>

  <div style="height:50px"></div>

</app-layout>

<router-outlet></router-outlet>