<div style="height:100px"></div>

<div style="height: 3px" detect-scroll (onScroll)="changeProgress($event, progress)" [bottomOffset]="200" id="navProgress"
  [topOffset]="200">
  <div class="mb-2">
    <!-- <progressbar class="progress-striped active" [animate]="false" [value]="progress" [max]="100" type="success"> {{progress}} / {{max}}</progressbar> -->
    <progressbar class="progress-striped active" style="height: 8px" [animate]="true" [value]="progress" [max]="100"
      type="success"></progressbar>
  </div>
</div>

<app-layout>
  
  <ng4-loading-spinner> </ng4-loading-spinner>

  <router-outlet></router-outlet>

</app-layout>

<div class="zoom">
  <a class="zoom-fab zoom-btn-large" style="background:#00c851" id="zoomBtn">
    <svg-icon src="../assets/images/add.svg" [stretch]="true"
    [svgStyle]="{'width.px':35, 'height.px' :35, 'fill':'rgb(0,0,0)'}">
  </svg-icon>
  </a>

  
  <ul class="zoom-menu">
    <li><a class="zoom-fab zoom-btn-sm zoom-btn-person scale-transition scale-out"  [routerLink]="[ '/addUser' ]">
      <svg-icon src="../assets/images/man-user.svg" [stretch]="true"
      [svgStyle]="{'width.px':30, 'height.px' :30, 'fill':'rgb(0,0,0)'}">
    </svg-icon>
    </a></li>

    <li><a class="zoom-fab zoom-btn-sm zoom-btn-doc scale-transition scale-out" [routerLink]="[ '/addCar' ]">
      <svg-icon src="../assets/images/car-compact.svg" [stretch]="true"
      [svgStyle]="{'width.px':35, 'height.px' :35, 'fill':'rgb(0,0,0)'}">
    </svg-icon>
    </a></li>

    <li><a class="zoom-fab zoom-btn-sm zoom-btn-tangram scale-transition scale-out" [routerLink]="[ '/addRepair' ]">
      <svg-icon src="../assets/images/customer-support.svg" [stretch]="false"
      [svgStyle]="{'width.px':30, 'height.px' :30, 'fill':'rgb(0,0,0)'}">
    </svg-icon>
    </a></li>
   
    <li><a class="zoom-fab zoom-btn-sm zoom-btn-report scale-transition scale-out" [routerLink]="[ '/addPart' ]">
      <svg-icon src="../assets/images/settings.svg" [stretch]="true"
      [svgStyle]="{'width.px':35, 'height.px' :35, 'fill':'rgb(0,0,0)'}">
    </svg-icon>
    </a></li>
  </ul>
  <!-- <div class="zoom-card scale-transition scale-out">
    <ul class="zoom-card-content">
      <li>Content 1</li>
      <li>Content 2</li>
      <li>Content 3</li>
      <li>Content 4</li>
    </ul>
  </div> -->
</div>
