.fa-heart {
    color: red;
  }

.footer {
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    height: 20px;
} 
.gitHubLink{
    display:inline-block;
}
.swaggerLink{
    display:inline-block;
}
.nav-link{
    position: fixed;
    left: 15px;
    bottom: -20px;
}
.swagger-link{
    position: fixed;
    left: 85px;
    bottom: -12px;
}