<nav class="navbar navbar-dark bg-dark mt-5 fixed-bottom" style="height: 45px" id="footer">

    <div class="navbar-expand m-auto navbar-text" style="height: 30px">
       <a>Zdenda Semerad udela vam to <i class="fa fa-heart"></i> rad!</a>
    </div>

    <a class="nav-item nav-link" style="height: 40px" style="color: black" target="_blank" href="https://github.com/ext96763/semeradautoopravy">
        <i class="fa fa-github fa-2x"title="GitHub" style="margin:20px" id="gitHubLink"></i>
    </a>

    <a class="swagger-link" style="height: 40px" style="color: black" target="_blank" href="http://semeradautoopravy.herokuapp.com/swagger-ui.html#">
        <i class="fa fa-bolt fa-2x" aria-hidden="true" title="API" style="margin:20px"  id="swaggerLink"></i>
    </a>

</nav>