<div style="height:80px"></div>

<div class="col-md-6">
  <h2 class="text-center">Pridat Nahradni Dil</h2>
  <form [formGroup]="editPartForm" (ngSubmit)="onSubmit()">

    <div class="col-xs-6 form-group">
      <label for="repairId"><b>ID opravy</b></label>
      <input type="number" formControlName="repairId" placeholder="Cislo navazane opravy" name="repairId" class="form-control"
        id="repairId">
    </div>

    <div class="col-xs-6 form-group">
      <label for="carId"><b>ID auta</b></label>
      <input type="number" formControlName="carId" placeholder="Cislo navazaneho auta" name="carId" class="form-control"
        id="carId">
    </div>

    <div class="col-xs-6 form-group">
      <label for="partNumber"><b>Seriove cislo nahradniho dilu</b></label>
      <input type="number" formControlName="partNumber" placeholder="Seriove cislo nahradniho dilu" name="partNumber"
        class="form-control" id="partNumber">
    </div>

    <div class="col-xs-6 form-group">
      <label for="partDetail"><b>Popis nahradniho dilu</b></label>
      <input type="text" formControlName="partDetail" placeholder="Popsat nahradni dil" name="partDetail" class="form-control"
        id="partDetail">
    </div>

    <div class="col-xs-6 form-group">
      <label for="partUserId"><b>ID uzivatele</b></label>
      <input type="number" formControlName="partUserId" placeholder="Cislo navazaneho uzivatele" name="partUserId"
        class="form-control" id="partUserId">
    </div>

    <div class="col-xs-6 form-group">
      <label for="repairDate"><b>Datum pouziti nahradniho dilu</b></label>
      <input type="date" formControlName="repairDate" placeholder="Datum pouziti nahradniho dilu" name="repairDate"
        class="form-control" id="repairDate">
    </div>

    <button class="btn btn-success">Ulozit</button>
  </form>
</div>

<div style="height:100px"></div>